<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <script src="https://kit.fontawesome.com/98fc5c884d.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/public/styles/main.css">

</head>


    <ul class="topnav">

        {{#if storyPage}}
        <li><a class="active" href="/home">My Story</a></li>
        {{else}}
        <li><a href="/home">My Story</a></li>
        {{/if}}


        {{#if aboutPage}}
        <li><a class="active" href="/aboutMe">About Me</a></li>
        {{else}}
        <li><a href="/aboutMe">About Me</a></li>
        {{/if}}

        {{#if storyPage}}
        <li><a class="active" href="/home">Classes and Projects</a></li>
        {{else}}
        <li><a href="/home">Classes and Projects</a></li>
        {{/if}}



        {{#if aboutPage}}
        <li><a class="active" href="/aboutMe">Resume</a></li>
        {{else}}
        <li><a href="/aboutMe">Resume</a></li>
        {{/if}}



        {{#if aboutPage}}
        <li><a class="active" href="/aboutMe">Art Gallary</a></li>
        {{else}}
        <li><a href="/aboutMe">Art Gallary</a></li>
        {{/if}}


        {{#if aboutPage}}
        <li id="darkButton"><a class="active" href="/aboutMe"><i class="fa-solid fa-circle-half-stroke"></i></a>
        </li>
        {{else}}
        <li id="darkButton"><a href="/aboutMe"><i class="fa-solid fa-circle-half-stroke"></i></a></li>
        {{/if}}




    </ul>


    <main class="main-body">
        {{{body}}}
    </main>
<script src="/public/scripts/main.js"></script>

</body>



</html>